<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Doer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.62</string>
	<key>CFBundleVersion</key>
	<string>62</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>doer_logo</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Doer needs access to your camera to take photos for document uploads.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Doer needs your location to show nearby jobs and track shifts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Doer needs your location to track your position during active shifts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Doer needs your location to track your position during active shifts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Doer needs access to your photo library to upload documents.</string>
	<key>MAPS_API_KEY</key>
	<string>AIzaSyA2yi5a-gBUHbkYvnc9rLiRoeUd5WONBMs</string>
</dict>
</plist>
